[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
django = "*"
djangorestframework = "*"
setuptools = "*"
wheel = "*"
spacy = "*"
deep-translator = "*"
unidecode = "*"
pytest-mock = "*"
python-levenshtein = "*"
uritemplate = "*"
word2number = "*"
zahlwort2num = "*"

[dev-packages]

[requires]
python_version = "3.8"
